<% content_for(:title) { "#{@room.name} Group Conversation" } %>
<div class="container" role="main" id="room" data-room-name="<%= @room.name %>">
  <div class="row">
    <div class="col-xs-3 pull-right">
      <div class="row">
        <div class="col-xs-12">
          <div id="localvideo-container"></div>
        </div>
        <div class="col-xs-12 your-name-container">
          <span class="room-name">name container</span>
          <br>
            <div>
              <form id="copy-form">
                <label for="invite-link-input" id="invite-link-label">URL to invite others</label>
                <div class="input-group input-group-sm">
                  <input type="text" id="invite-link-input" class="form-control" value="<%= request.original_url %>">
                  <span class="input-group-btn">
                    <button class="btn" id="copy-button" data-clipboard-text="<%= request.original_url %>" title="Click to copy URL" >
                      <i class="fa fa-clipboard fa-lg" id="clipboard-button"></i>
                    </button>
                  </span>
                </div>
              </form>
              <p id="invite-copied-indicator">Copied to clipboard</p>

              <p id="invite-to-room-url" class="hide-invite-url"><%= request.original_url %></p>
            </div>
        </div>
      </div>
    </div>
    <div class="col-xs-9">
      <div id="partnervideos" class="row">
      </div>
    </div>
  </div>
</div>

<div class="modal fade" role="dialog" id="video-preview">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title"><%= t(:joining_room) %> "<%= @room.name %>"</h3>
      </div>
      <div class="modal-body">
        <video id="localvideo" poster="<%= image_path 'talking_stick/line-spinner.svg' %>" autoplay=true></video>
        <p id="preview_instructions"><%= t(:video_grant_access) %></p>
      </div>
      <div class="modal-footer">
        <form id="connect" class="form-inline">
          <div class="form-group">
            <input name="name" id="name" placeholder="Your name" class='form-control'/>
            <input type="submit" class="btn btn-default btn-primary" value="Join" class='form-control'/>
            <button type="button" class="btn exit">Exit</button>
          </div>
        </form>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<script type="text/javascript">
$(document).ready(function() {
  // Attempt to keep the modal from scrolling vertically
  // 300px is the approximate height of the modal, minus the video
  $('#video-preview').find('video').height($(window).height() - 300);
  $('#video-preview').modal({backdrop: 'static', keyboard: false, show: true});
  var myGuid = TalkingStick.generateGUID();
  // Use the least-common-denominator, Rails API, for WebRTC setup
  var options = {
    url: '<%= room_path %>',
    myGuid: myGuid,
  };
  var signalingEngine = new TalkingStick.RailsSignaling(options);

  var options = {
    guid: myGuid,
    roomUrl: '<%= room_path %>',
    signalingEngine: signalingEngine,
    logLevel: 'trace',
    iceServers: [
      {url: 'stun:buckhead.alkaloid.net:3478', username: 'admin', credential: 'SomeBigSecaret'},
      {url: 'turn:buckhead.alkaloid.net:3478', username: 'admin', credential: 'SomeBigSecaret'},
    ],
  };
  TalkingStick.init(options);

  $('#connect').submit(function (event) {
    self.startSession();
    event.preventDefault();
  });

  $('#localvideo').on('talking_stick.local_media_setup', function() {
    $('#preview_instructions').html('<%= t(:video_intro) %>');
  });
});

function startSession() {
  $('#localvideo').detach().appendTo('#localvideo-container');
  $('#localvideo').height('auto');
  // Gotta restart and re-mute the video after moving it
  $('#localvideo')[0].play();
  TalkingStick.connect($('#name').val());
  var you = $('#name').val();
  $('.room-name').html(you);
  $('#video-preview').modal('hide');
};

function resizeVideos() {
  var videoCollection = $('#partnervideos .video');
  var numVideos = videoCollection.length;

  var videoCountClass;
  $('#partnervideos').removeClass('friends-video-row');
  switch(numVideos) {
  case 1:
    $('#room').attr('class', 'container');
    videoCollection.attr('class','video col-xs-12 col-sm-12 col-md-12 col-lg-12 one-friends-video-container');
    break;
  case 2:
    $('#room').attr('class', 'container-fluid');
    $('#partnervideos').addClass('friends-video-row');
    videoCollection.attr('class','video col-xs-12 col-sm-6 col-md-6 col-lg-6 two-friends-video-container');
    break;
  case 3:
  case 4:
    $('#room').attr('class', 'container');
    videoCollection.attr('class','video col-xs-12 col-sm-6 col-md-6 four-friends-video-container');
    break;
  case 5:
  case 6:
    $('#room').attr('class', 'container-fluid');
    $('#partnervideos').addClass('friends-video-row');
    videoCollection.attr('class', 'video col-xs-12 col-sm-6 col-md-4 col-lg-4 six-friends-video-container')
    break;
  }
};

function cleanupPartner() {
  resizeVideos();
}

$('#localvideo').on('talking_stick.new_partner', function(ev, partner) {
  var container = $(document.createElement('div'));
  container.addClass('video');
  var partner_name = $(document.createElement('p'));
  $(partner_name).addClass('video-partner-name pull-right');
  partner_name.html(partner.name);
  container.attr('data-partner-guid', partner.guid);
  container.append(partner.videoElement);
  container.append(partner_name);

  resizeVideos();

  partner.videoElement.on('talking_stick.partner.cleanup', function() {
    container.remove();
  });

  $('#partnervideos').append(container);
});
$('#partnervideos').on('talking_stick.partner.media', resizeVideos);

$('#localvideo').on('talking_stick.disconnected', function() {
  document.location = '/';
});
$('#partnervideos').on('talking_stick.partner.cleanup', cleanupPartner);
$('#localvideo').on('talking_stick.connected', function() { $('#nav-microphone, #nav-video, #nav-exit, #nav-settings').show() })
$(window).resize(resizeVideos);
$('#nav-exit').on('click', TalkingStick.disconnect);


$('#nav-microphone').on('click', function() {
  if (TalkingStick.audioMuted()) {
    TalkingStick.unmuteAudio();
    $('#nav-microphone i').removeClass('fa-microphone-slash');
    $('#nav-microphone i').addClass('fa-microphone');
    $('#nav-microphone i').css('color', 'white');
  } else {
    TalkingStick.muteAudio();
    $('#nav-microphone i').removeClass('fa-microphone');
    $('#nav-microphone i').addClass('fa-microphone-slash');
    $('#nav-microphone i').css('color', 'black');
  }
});

$('#nav-video').on('click', function() {
  if (TalkingStick.videoMuted()) {
    TalkingStick.unmuteVideo();
    $('#nav-video i').css('color', 'white');
  } else {
    TalkingStick.muteVideo();
    $('#nav-video i').css('color', 'black');
  }
});

$('button.close, button.exit').on('click', function() {
  document.location = '/';
})

$(document).bind('keypress', function(e) {
  if (e.keyCode === 13) {  // keyCode 13 is the return key
    $('#connect input.btn-primary').trigger('click');
  }
});

// Code to copy room URL to invite others to join
var client = new ZeroClipboard(document.getElementById("copy-button"));

client.on("ready", function(readyEvent) {
  client.on("aftercopy", function(event) {
    $('#invite-copied-indicator').fadeIn(400).delay(1500).fadeOut(1000);
  });
});

$('#copy-form').on("submit", function (e) {
  e.preventDefault();
});

</script>

